.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 300px;
  margin: auto;
}

.clear-button {
  grid-column: span 2;
}

.operation-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.operation-buttons button,
.number-buttons button {
  width: 100%;
  padding: 15px;
  font-size: 1.5em;
}

.display {
  grid-column: span 4;
  padding: 10px;
  background-color: transparent;
  text-align: right;
  font-size: 1.5em;
}

.number-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.number-buttons button {
  width: 100%;
  padding: 15px;
  font-size: 1.5em;
}